#Header {
	margin: auto;
	height: auto;
	width: auto;
	border: 2px solid black;
}

 #navbar {
	margin-right: auto;
	margin-left: auto;
 	margin-top: auto;
 	margin: 20px;
}

li {
	display: inline;
	border: 2px solid black;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 40px;
}

#left {
	height: auto;
	width: 750px;
	margin-bottom: 10px;
	float: left;
	border: 2px solid black;
}

#right {
	height: auto;
	width: 550px;
	margin-bottom: 10px;
	float: right;
	border: 2px solid black;
}