* {
	font-family: Arial;
	color: #00CC00;
	font-style: italic;
}

html {
	background: url("../blog/imgs/seahawks.jpg") no-repeat center center fixed;
	background-size: cover;
}

a:link {
	color: #00CC00;
}

a:visited {
	color: #32CD32;
}

a:hover {
	text-shadow: 0 0 15px #00FF00;
}

#Header {
	margin: auto;;
	width: auto;
}

#social:hover {
	box-shadow: 0 0 15px #00FF00;
}

#blog-list {  
	max-width: 750px;
	font-size: 18px;
	padding: 15px;
	margin-left: 20%;
	line-height: 40px;
	margin-bottom: 60px;
	background-color: black;
	opacity: 0.9;
}

ul {
	list-style-type: none;
}

#blogpost {
	max-width: 750px;
	font-size: 18px;
	padding: 15px;
	margin-left: 20%;
	line-height: 25px;
	margin-bottom: -5px;
	background-color: black;
	opacity: 0.98;
}

img {
	max-width: 750px;
}

code {
	background-color: white;
	color: black;
	padding: 10px;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
}


#next-previous {
	margin-bottom: 60px;
	opacity: 0.9;
}

#next-previous-links {
	display: inline;
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 23.5%;
}

#navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.9;
}

#navlinks {
	display: inline;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}





