* {
	font-family: Arial;
	color: #00CC00;
}

html {
	background: url("../blog/imgs/seahawks.jpg") no-repeat center center fixed;
	background-size: cover;
}

a:link {
	color: #00CC00;
}

a:visited {
	color: #009933;
}

#Header {
	margin: auto;;
	width: auto;
}

#blog-list ul li{ 
	margin: 0 30px 30px 0; 
}

ul {
	list-style-type: none;
}

#blogpost {
	background-color: black;
	opacity: 0.9;
}

#navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#navlinks {
	display: inline;
	border: 2px solid green;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}





