html {
	background-color: #BCFF9A;
}

a:link {
	color: #003D00;
}

a:visited {
	color: #003D00;
}

a:hover {
	text-shadow: 0 0 15px #003D00;
}

#Header, #blog-list, #introduction, #blogpost, #contact, #next-previous-links, #navlinks, #about-me {
	font-family: 'Rokkitt', serif;
	color: #002C00;
}

/*HEADER*/

#Header {
	margin: auto;
	width: auto;
	padding-left: 50px;
}

/*SOCIAL MEDIA ICONS*/

#Social-Header {
	padding-left: 50px;
}

#social:hover {
	box-shadow: 0 0 15px #003D00;
}

/*WELCOME MESSAGE ON HOME SCREEN*/

#introduction {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}

/*BLOG LIST AND FORMATTING*/

#blog-list {  
	max-width: 750px;
	font-size: 18px;
	padding: 15px;
	margin-left: 20%;
	line-height: 20px;
	margin-bottom: 60px;
	opacity: 0.9;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

#blog-list ul li {
	border-bottom: 2px solid green;
}

ul li p {
	font-weight: normal;
}

ul li p a {
	text-decoration: none;
	font-weight: bolder;

}

/*BLOG POSTS AND CONTENT*/

#blogpost {
	max-width: 750px;
	font-size: 18px;
	padding: 15px;
	margin-left: 20%;
	line-height: 25px;
	margin-bottom: -5px;
	opacity: 0.98;
}

img {
	max-width: 750px;
}

pre {
	width: auto;
	white-space: pre-wrap;
	text-align: justify;
	font-weight: bolder;
  	background-color: #7DFF7D;
	color: black;
	font-size: 12px;
  	padding: 15px 15px 15px 15px;
  	overflow: auto;
}

/*CONTACT PAGE*/

#contact {
  margin-top: 40%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
}

	/*SOCIAL ICONS ON CONTACT PAGE*/
#social-icons {
	margin-top: 30%;
}

/*ABOUT ME PAGES*/

#about-me{
	margin-left: 50px;
}

#about-me p  {
	float: right;
	max-width: 700px;
	font-size: 22px;
	padding: 15px;
	line-height: 25px;
	margin-bottom: 60px;
	margin-left: -15px;
}

#about-me img {
	padding-top: 40px;
}

/*CV*/

#resume {
	margin-bottom: 60px;
}

/*NEXT AND PREVIOUS BUTTONS*/

#next-previous {
	margin-bottom: 60px;
	opacity: 0.9;
}

#next-previous-links {
	display: inline;
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 23.5%;
}

/*NAVBAR FOOTER*/

#navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #7BB07B;
	font-weight: bold;
	opacity: 0.9;
}

#navlinks {
	display: inline;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}





