* {
	font-family: Arial;
	background-color: #B2B3B2;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

#Header {
	margin: auto;
	height: 100px;
	width: auto;
	border: 3px solid green;
}

#navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 3px solid green;
}

#navlinks {
	display: inline;
	border: 2px solid green;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}

#blogpost {
	width: 65%;
	float: left;
	border: 3px solid green;
}

#right {
	height: auto;
	width: 32%;
	margin-bottom: 10px;
	float: right;
	border: 3px solid green;
	padding-left: 5px;
}

#seahawks {
	float: right;
	width: 32%;
	border: 3px solid green;
}


