* {
	background-color: #B2B3B2;
	font-family: Arial;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

#Header {
	margin: auto;
	height: 100px;
	width: auto;
	border: 3px solid green;
}

#navbar {
	margin-right: auto;
	margin-left: auto;
 	margin-top: auto;
 	margin: 20px;
 	border: 1px solid green;
}

#navlinks {
	display: inline;
	border: 3px solid green;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 20px;
}

#blogpost {
	height: auto;
	width: 65%;
	margin-bottom: 10px;
	float: left;
	border: 3px solid green;
}

#right {
	height: auto;
	width: 30%;
	margin-bottom: 10px;
	float: right;
	border: 3px solid green;
}



