* {
	font-family: Arial;
	color: #00CC00;
	font-style: italic;
}

html {
	background: url("../blog/imgs/seahawks.jpg") no-repeat center center fixed;
	background-size: cover;
}

a:link {
	color: #00CC00;
}

a:visited {
	color: #32CD32;
}

a:hover {
	text-shadow: 0 0 15px #00FF00;
}

#Header {
	margin: auto;;
	width: auto;
}

#social:hover {
	box-shadow: 0 0 15px #00FF00;
}

#blog-list ul li{ 
	margin: 0 30px 30px 0; 
	font-weight: bold;
	font-size: 14px;
}

ul {
	list-style-type: none;
}

#blogpost {
	background-color: black;
	opacity: 0.9;
}

#navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.9;
}

#navbar-cv {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.9;
}

#navlinks {
	display: inline;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}